

/* Reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}


/* Apply Syncopate font to all buttons */
button {
  font-family: 'Syncopate', sans-serif;
}

h4{
  color: white;
}



.white-text {
  color: white; /* Set the color to white */
}

.gradient-text {
  font-family: 'Syncopate', sans-serif; /* Make sure the font is Syncopate */
  font-weight: bold;
  font-size: 7rem;
  background: linear-gradient(to bottom, rgb(4, 48, 83), white); /* Gradient from lavender to white */
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent so the background shows */
}

.gradient-text2 {
  font-family: 'Syncopate', sans-serif; /* Make sure the font is Syncopate */
  font-weight: bold;
  font-size: 3rem;
  background: linear-gradient(to bottom, rgb(4, 48, 83), white); /* Gradient from lavender to white */
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent so the background shows */
}

html, body, #root {
  height: 100%;  /* La hauteur de toute la page */
  margin: 0;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;  /* Disposition des sections en colonne */
  overflow: hidden;  /* Empêche le scroll global de la page */
}

.home {
  display: flex;
  flex-direction: column;  /* Empile les sections en colonne */
  min-height: 100vh;  /* Chaque section prend toute la hauteur de l'écran */
  overflow-y: auto;  /* Permet le scroll vertical */
  scroll-snap-type: y mandatory;  /* Permet un défilement fluide entre les sections */
}


.footer {
  width: 100%;  /* Chaque section prend toute la hauteur de l'écran */
  scroll-snap-align: start;  /* Aligne chaque section au début lors du défilement */
}


.hero-section {
  width: 100%;  /* La largeur de chaque section est 100% */
  height: 100vh;  /* Chaque section prend toute la hauteur de l'écran */
  scroll-snap-align: start;  /* Aligne chaque section au début lors du défilement */
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  /* La vidéo reste derrière tout le contenu */
  object-fit: cover;  /* Couvre toute la fenêtre sans distorsion */
}














